p {
    text-align: center; 
    color: red;
    font-size: 26px;
    font-family: cursive;
}

h1 {
    text-align: center;
    font-family: fantasy;
}
.header {
    text-align: center;
    margin: 75px;
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
}

.images {
    padding-top: 65px;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 600px;
    align-content: center;
    align-items: center;
}
img {
    width: 25%;
}


@media (min-width: 600px) {
    .flex-container {
        flex-flow: row;
        background-color: yellow;
    }
    img {
        width: 30%;
    }
    .images {
        height: 500px;
    }
}

@media (min-width:900px) {
    .images {
        height: 1200px;
    }
}